{% extends 'auth/base.html' %}

{% block st %}
    Recover Account
{% endblock st %}
    
{% block main %}
<form method="post" class="form_con">
    {% csrf_token %}
    <div class="form">
        <div class="form_input" id="emailV">
        <label for="email">Email address</label>
        <div>
            <input name="email" type="email" id="email" placeholder="Enter your email address here">
        </div>
        <small id="eerror" class="error">Email is invalid </small>
        </div>
    </div>
    
    <button class="btn" type="submit">submit</button>
</form>
{% endblock main %}
    