{% extends 'auth/base.html' %}
 {% block main %}

<form method="post">
	{% csrf_token %}

	{% if form %}
    <span class="helptext">
        <ul>
			<li>
				Your password can’t be too similar to your other personal information.
			</li>
			<li>Your password must contain at least 8 characters.</li>
			<li>Your password can’t be a commonly used password.</li>
			<li>Your password can’t be entirely numeric.</li>
		</ul>
    </span>
	<div class="form_div">{{form.new_password1}}</div>
	<div class="form_div">{{form.new_password2}}</div>
	<button type="submit">Change</button>
	{% else %}
	<p>Sorry, this is an invalid link...</p>
    <p>if you are trying to change your password, click <a href="{% url 'password_reset' %}">here</a> to recover your password, thanks</p>

	{% endif %}
</form>
{% endblock main %}
