{% extends 'auth/base.html' %}

{% block st %}
	Set new password
{% endblock st %}
	
{% block main %}
<form method="post">
	{% csrf_token %}
	{% if form %}
	{{form.errors}}
	<div class="form_con">
	<div class="form">
			<div class="form_input">
			<label for="Password">Password</label>
			<div>
				<input type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1">
			</div>
			
		</div>
		<div class="form_input">
			<label for="Password">Conrfim Password</label>
			<div>
				<input type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2">
			</div>
			
		</div>
		<button class="btn" type="submit">Change</button>
	</div>
	
		{% else %}
		<p>Sorry, this is an invalid link...</p>
		<p>
			if you are trying to change your password, click
			<a href="{% url 'password_reset' %}">here</a> to recover your password,
			thanks
		</p>
	</div>

	{% endif %}
</form>
{% endblock main %}
