{% extends 'auth/base.html' %}
{% load static %}
{% block st %}
    Get Started
{% endblock st %}
    
{% block main %}
    <div class="form_con">
        
        <div class="form" id="form">
            <div class="message" id="message">
        </div>
        <div class="form_input" id="emailV">
            <label for="email">Email address</label>
            <div>
                <input type="email" id="email" placeholder="Enter your email address here">
            </div>
            <small id="eerror" class="error">Email is invalid</small>
        </div>
        <div  id="passwordView">
            <div class="form_input">
                <label for="Password">Password</label>
                <div>
                    <input type="password" id="password" placeholder="********">
                </div>
                <small id="perror" class="error">Password must be 6+</small>
                <div id="fgp">
                    <a href="{% url 'password_reset' %}" id="fgpl">Forgetton password</a>
                </div>
                
            </div>
        </div>
        
        <div id="new">
            <div class="form_input">
                <label for="username">Username</label>
                <div>
                    <input type="text" id="username" placeholder="Enter your Username">
                </div>
                <small id="uerror" class="error">Username is invalid!</small>
                
            </div>
            <div class="form_input">
                <label for="full_name">Full name</label>
                <div>

                    <input type="text" id="full_name" placeholder="Enter your Full name">
                </div>
                <small id="ferror" class="error">Enter full name correctly!</small>
            </div>
            
            <div class="form_input">
                <label for="Password">Password</label>
                <div>
                    <input type="password" id="password1" placeholder="*********">
                </div>
                <small id="p1error" class="error">password must be 6+</small>
            </div>

            <div style="
            margin-bottom: 15px;
            font-size: smaller;
            ">
                By clicking <b>"Agree and continue" </b>below, i agree to the 
                <font style='font-weight: 500;color: #0064e6;'>
                Terms of service
                </font> and <font style='font-weight: 500;color: #0064e6;'>
                    Privacy policy
                </font>
            </div>
        </div>
        <div id="btns">
            <button class="btn" id="verify_email">Continue</button>
            <button class="btn" id="register">Agree and continue</button>
            <button class="btn" id="login">Continue</button>
        </div>
        </div>
        <div class="social" id="socials">
            <hr>
            <b>Or</b>
            <button class="btn fa fa-facebook"> Continue with facebook</button>
            <button class="btn fa fa-google"> Continue with Google</button>
            <button class="btn fa fa-apple"> Continue with Apple</button>
        </div>
    </div>
{% endblock main %}

