{% extends 'auth/base.html' %}
{% load static %}

{% block main %}

        <div class="form">
            <h2>Login Form</h2>

            <form action="#" method="POST">
                {% csrf_token %}
                
                {% if message0 %}
                    <p>
                        {{message0}}
                    </p>
                    <p>instad create account by click here <a href="{% url 'account:register' %}">register</a> </p>
                {% endif %}

                {% if message1 %}
                    <p>
                        {{message1}}
                    </p>
                    <p>Forgotten password ? click here <a href="{% url 'password_reset' %}">here</a> to recover account</p>
                {% endif %}
                    
                <div class="md-form">
                    <label class="label">Username or Email <span>*</span></label>
                    <input type="text" name="username" autocomplete="false" class="form-input">

                </div>

                <div class="md-form">
                    <label class="label">Password <span>*</span></label>
                    <input type="password" name="password" class="form-input" autocomplete="false">

                </div>
                <div class="md-form mt-2">
                    <button class="bg-primary rounded-0 border-0 text-light">Login</button>
                </div>
                
                <div class="login-redirect-links">
                    <a href="{% url 'password_reset' %}">Forgotten password ?</a>
                    <p>Don't have an account ? <a href="{% url 'account:register' %}">register</a></p>
                    <p class="create-page-link">
                        Create page 
                         <a href="{% url 'pages:create-page' %}">here</a>
                     </p>
                </div>
            </form>
            
        </div>

{% endblock main %}
    

