{% extends 'base.html' %} {% load static %}  {% block title %} Home {% endblock title %} {% block styles %}
<link rel="stylesheet" href="{% static 'css/home/styles.css' %}" />
<link rel="stylesheet" href="{% static 'css/posts/styles.css' %}" />

{% endblock styles %}

{% block nav %}
	<li class="nav-item">
		<a id="open-modal"><i class="fa fa-plus-square-o"></i></a>
	</li>
{% endblock nav %}


{% block modal_header %}
	<h3>Create new post</h3>
{% endblock modal_header %}

{% block modal %}
<form enctype="multipart/form-data" method="POST" class="new-post-form">
	{% csrf_token %}
	<input
		type="file"
		name="medias"
		id="photo"
		class="form-control-file"
		hidden
		multiple
	/>
	<textarea class="status" name="status" placeholder="write here..." ></textarea>	
	<div class="new-post-div-buttons">
		<button type="button" id="photo-click">Photo </button>
		<button type="button">share</button>
		<button type="submit" id="create_new_post">post</button>
	</div>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam corporis amet repellat expedita. Pariatur, impedit? Quibusdam eos ad laborum ullam quam, explicabo ducimus necessitatibus dolore nulla aliquam quia nemo atque.
		Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse exercitationem odio quaerat, ducimus nam ut dolorum similique nisi optio veniam.
	</p>
</form>
{% endblock modal %}
	
{% block main %}
<div id="posts_wrapper">
	{% for message in messages %}
		<p>{{message}}</p>
	{% endfor %}
		
	{% for post in obj_page %}

	{% include 'post/index.html' %}

	{% endfor %}

</div>
<div class="paginator">
		<span class="step_links">
			
			{% if obj_page.has_previous %}
				<a href="?page=1">first</a>
				<a href="?page={{obj_page.previous_page_number}}">&laquo; previous</a>
			{% endif %}

			<span class="current">
				Page {{obj_page.number}} of {{obj_page.paginator.num_pages}}
			</span>

			{% if obj_page.has_next %}
				<a href="?page={{obj_page.next_page_number}}">next &raquo;</a>
				<a href="?page={{obj_page.paginator.num_pages}}">last</a>
			{% endif %}
				
		</span>
</div>
<div class="loading_post" id="loader"></div>
{% endblock main %}
{% block script %}

<script>
	var token = "{{token}}";
	var user = "{{user}}";
</script>
{% if status %}
<script>
	cl('status')[0].innerText = '{{status}}'
</script>
{% endif %}
<script src="{% static 'js/home/script.js' %}"></script>
{% endblock script %}
