{% extends 'base.html' %}
{% load static %}
{% load post_filters %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/home/styles.css' %}" />

    <style>
        div[slot='files'] video, div[slot='files'] img{
            width: 100%;
        }
        div[slot='avatar'] img{
            width: 50px;
            height: 50px;
            object-fit: cover;
            margin-right: 10px;
            border-radius: 100%;
            box-shadow: 0 0 0 1px lightgray;
        }
        .posts{
            width: 100%;
            max-width: 500px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        my-post{
            display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
        }
    </style>
    
{% endblock style %} 


{% block main %}
    <div class="stories-wrapper">

        
        
            <div class="story">
                <img src="{{user.avatar.url}}" alt="" class="sts">
                <div class="det">
                    <h3>{{user.get_full_name|truncatechars:6}}</h3>
                    <p>{{'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit necessitatibus officiis vitae dolorum laudantium. Quisquam quaerat ullam consectetur magni, unde enim voluptatibus eum repellendus architecto quis corporis? Corrupti, doloribus? Quo.'|truncatechars:9}}</p>
                </div>
            </div>

            <div class="story">
                <img src="" alt="" class="sts">
                <div class="det">
                    <h3>Name</h3>
                    <p>{{'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit necessitatibus officiis vitae dolorum laudantium. Quisquam quaerat ullam consectetur magni, unde enim voluptatibus eum repellendus architecto quis corporis? Corrupti, doloribus? Quo.'|truncatechars:9}}</p>
                </div>
            </div>

            <div class="story">
                <img src="" alt="" class="sts">
                <div class="det">
                    <h3>Name</h3>
                    <p>{{'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit necessitatibus officiis vitae dolorum laudantium. Quisquam quaerat ullam consectetur magni, unde enim voluptatibus eum repellendus architecto quis corporis? Corrupti, doloribus? Quo.'|truncatechars:9}}</p>
                </div>
            </div>

            <div class="story">
                <img src="" alt="" class="sts">
                <div class="det">
                    <h3>Name</h3>
                    <p>{{'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit necessitatibus officiis vitae dolorum laudantium. Quisquam quaerat ullam consectetur magni, unde enim voluptatibus eum repellendus architecto quis corporis? Corrupti, doloribus? Quo.'|truncatechars:9}}</p>
                </div>
            </div>

            <div class="story">
                <img src="" alt="" class="sts">
                <div class="det">
                    <h3>Name</h3>
                    <p>{{'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit necessitatibus officiis vitae dolorum laudantium. Quisquam quaerat ullam consectetur magni, unde enim voluptatibus eum repellendus architecto quis corporis? Corrupti, doloribus? Quo.'|truncatechars:9}}</p>
                </div>
            </div>

            <div class="story">
                <img src="" alt="" class="sts">
                <div class="det">
                    <h3>Name</h3>
                    <p>{{'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit necessitatibus officiis vitae dolorum laudantium. Quisquam quaerat ullam consectetur magni, unde enim voluptatibus eum repellendus architecto quis corporis? Corrupti, doloribus? Quo.'|truncatechars:9}}</p>
                </div>
            </div>

            <div class="story">
                <img src="" alt="" class="sts">
                <div class="det">
                    <h3>Name</h3>
                    <p>{{'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit necessitatibus officiis vitae dolorum laudantium. Quisquam quaerat ullam consectetur magni, unde enim voluptatibus eum repellendus architecto quis corporis? Corrupti, doloribus? Quo.'|truncatechars:9}}</p>
                </div>
            </div>

            <div class="story">
                <img src="" alt="" class="sts">
                <div class="det">
                    <h3>Name</h3>
                    <p>{{'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit necessitatibus officiis vitae dolorum laudantium. Quisquam quaerat ullam consectetur magni, unde enim voluptatibus eum repellendus architecto quis corporis? Corrupti, doloribus? Quo.'|truncatechars:9}}</p>
                </div>
            </div>
        
    </div>
    <div class="share-wrapper">
        <ul id="share-btns">
            <li>
                <button>write</button>
            </li>
            <li>
                <button>new story</button>
            </li>
            <li>
                <button>upload file</button>
            </li>
            <li>
                <button>groups</button>
            </li>
        </ul>
    </div>
{% endblock main %}
    
<div class="posts">
    {% for post in posts %}
    <my-post id="{{post.id}}" likes="{{post.likes.count}}">
        <div slot="username">{{post.author.username}}</div>
        <div slot="status">{{post.status|truncate}}</div>
        <div slot="date">{{post.created_at}}</div>
        <div slot="avatar">
            <img src='{{post.author.get_avatar}}' />
        </div>
        
        {% if post.files != '' %}
            <div slot='files' >
                
                {{post.files.all|file_type|safe}}
            </div>
        {% endif %}
            
    </my-post>
{% endfor %}
    

</div>


{% block script %}
    <script src="{% static 'js/home/script.js' %}"></script>
{% endblock script %}