{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/account/style.css' %}">

<style>
    .change_avatar_form{
        width: 100%;
    }
    .change_avatar_form a{
        cursor: pointer;
    }
    .change_avatar_form button{
        padding: 10px;
        margin: 5px 20%;
        background-color: #0064e5;
        color: white;
        border: none;
        outline: none;
        border-radius: 10px;
        font-weight: 600;
        font-size: large;
        cursor: pointer;
        letter-spacing: 1px;
    }
    .change_avatar_desc{
        width: 90%;
        text-align: center;
        padding: 10px;
        margin: 25px auto;
        border: 2px solid #0064e5;
        border-radius: 10px;
    }
</style>
{% endblock style %}
    
{% block main %}
    <form class="change_avatar_form" method="POST" action="{% url 'account:save-avatar' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" id="cover" name="cover" value="{{user.get_cover}}" hidden>
        <input type="file" id="avatar" name="avatar" value="{{user.get_avatar}}" hidden>
        
<div class="account_imgs">
	<a id="cover_link">
		<img src="{{user.get_cover}}" id="cover_img" alt="{{user}}" class="account_cover_img">
	</a>
	
	<a id="avatar_link">
		<img src="{{user.get_avatar}}" class="account_avatar_img" id="avatar_img" alt="{{user}}"/>
	</a>
</div>

        <button type="submit">
            save
        </button>
    </form>
    <p class="change_avatar_desc">
        Click on Image to change it
    </p>
{% endblock main %}


{% block script %}
    <script>
       $('#cover_link').on('click', function(){
           $('#cover')[0].click()
       })
       $('#avatar_link').on('click', function(){
            $('#avatar')[0].click()
    })

    $('#cover').on('change', function(e){
        let src = URL.createObjectURL(e.target.files[0])
        $('#cover_img')[0].src = src
    })
    $('#avatar').on('change', function(e){
        let src = URL.createObjectURL(e.target.files[0])
        $('#avatar_img')[0].src = src
    })
    </script>
{% endblock script %}
    
    