{% extends 'base.html' %} 
{% load static %}

{% block style %}
	<link rel="stylesheet" href="{% static 'css/account/style.css' %}">
{% endblock style %}
	
{% block main %}

<div class="account_imgs">
		<img src="{{account.get_cover}}" alt="{{account}}" class="account_cover_img">
	
		<img src="{{account.get_avatar}}" class="account_avatar_img" alt="{{account}}"/>
</div>
<div class="account_about">
	<div class="quote">
		<p>
			reprehenderit ea, exercitationem ratione
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem voluptates culpa reprehenderit ea, exercitationem ratione
		</p>
		<a href='' class="fa fa-pencil"></a>
	</div>
	<div class="about">
		<p>{{account.get_full_name}}</p>
		<p>{{account.email}}</p>
		<small>{{account.username}}</small>
	</div>
</div>
{% if account.is_student or account.is_teacher %}
	
<div class="account_subs">
	<h2>
	{% if account.is_student %}
	Tutor's
	{% elif account.is_teacher %}
	Student's
	{% endif %}
		</h2>
	
	{% if account.is_student %}
	<div class="account_sub">
		
		{% for tutor in account.get_tutors %}
			<a href="{% url 'account:profile' tutor.parent.id %}" class="account">
			<img src="{{tutor.get_avatar}}" class="account_img"/>
			<div class="account_name">{{tutor.get_full_name}}</div>
		</a>
		{% endfor %}
			
		
	</div>
	{% elif account.is_teacher %}
	<div class="account_sub">
		{% for student in account.get_students %}
			<a href="{% url 'account:profile' student.parent.id %}" class="account">
			<img src="{{student.get_avatar}}" class="account_img"/>
			<div class="account_name">{{student.get_full_name}}</div>
		</a>
		{% endfor %}
	</div>
	{% endif %}
		
	
</div>	
{% endif %}

{% if account.main_folder %}
	<div class="folder">
	<a href="{% url 'files:view_folder' account.main_folder.id account.id %}" class="fa fa-folder"> {{account.username}} folder's</a>
</div>
{% endif %}
	

{% endblock main %}

<a
	href="{% url 'account:logout' %}"
	class="nav-link text-light bg-danger w-auto"
>
	<i class="fa fa-sign-out"></i><span> Log out</span></a
>
<a href="{% url 'institution:institutions' %}" class="nav-link text-light">
	<i class="fa fa-institution"></i> <span>institutions</span></a
>
<a href="{% url 'group:groups' %}" class="nav-link text-light">
    <i class="fa fa-group"></i> <span>groups</span>
</a>
<li class="nav-item">
	<a href="{% url 'market:cart' %}" class="nav-link text-light">
		<i class="fa fa-shopping-cart"></i>
	</a>
</li>