{% extends 'base.html' %}


{% block title %}
    Groups
{% endblock title %}
    

{% block main %}
<form method="post">
    {% csrf_token %}
    <h2>Create a new group</h2>
    <label for="name">Group Name</label>
    <input type="text" id="name" name="group-name">
    <button type="submit">Create</button>
</form>
    <div>
        <h3>Your group's</h3>
        {% for group in mgroups.all %}
    <div>
        <a href="{% url 'group:group' group.id %}">
            {{group.name}}
        </a>
    </div>
            {% endfor %}
    </div>
    {% for group in groups.all %}
    
    {% if user in group.members.all %}
    <div>
        <a href="{% url 'group:group' group.id %}">
            {{group.name}}
        </a>
        <a href="{% url 'group:group-join-or-leave' group.id %}">leave</a>
    </div>
    {% else %}
    <div>
        <a href="{% url 'group:group' group.id %}">
            {{group.name}}
        </a>
        <a href="{% url 'group:group-join-or-leave' group.id %}">Join</a>
    </div>
    {% endif %}
    {% endfor %}
        
{% endblock main %}
    

{% block script %}
    
{% endblock script %}
    