.new-post-form{
    width: 100%;
    height: 100%;
    padding: 10px;
}
.new-post-form textarea{
    width: 100%;
    height: 250px;
    resize: none;
    padding: 10px;
}
.new-post-div-buttons{
    display: flex;
    flex-direction: column;
}
.new-post-div-buttons button{
    width: fit-content;
    padding: 2px 7px;
    margin: 5px 0;
}
.text10{
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    white-space: pre-wrap;
    font-size: large;
    font-weight: 700;
}
.bg1{
    background-image: linear-gradient(190deg, rgb(211, 117, 9), green);
}
.bg2{
    background-image: linear-gradient(10deg, rgb(43, 13, 13), rgb(81, 11, 99));
}
.bg3{
    background-image: linear-gradient(70deg, rgb(14, 245, 53), rgb(45, 0, 128));
}
.bg4{
    background-image: linear-gradient(47deg, rgb(248, 163, 6), rgb(14, 98, 223));
}
.bg5{
    background-image: linear-gradient(30deg, rgb(185, 103, 103), rgb(255, 0, 221));
}
.fetch_error,.loading_div{
    width: 100%;
    padding: 5px;
    background: red;
    border-radius: 5px;
}
.error_text{
    color: white;
    font-weight: 600;
}
.loading_div{
    background-color: #0000ff00;
    height: 2em;
    display: flex;
    justify-content: center;;
}
.loading_stick{
    width: 2px;
    height: 20px;
    background-color: #5900f3;
    animation: ld .2s infinite;
}
@keyframes ld {
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
/* mobile device */
@media screen and (max-width: 425px) {
}