{% extends 'base.html' %}


{% block main %}

{% if message %}
    <p>
        {{message}}
    </p>
{% endif %}
    
    <form action="" method="post">
        {% csrf_token %}
        <p>Enter new password below</p>
        <input type="text" name="new_password">
        <br>
        <p>Enter your previous password to confirm your account</p>
        <input type="password" name="old_password">
        <button type="submit">change</button>
    </form>
{% endblock main %}
    