{% extends 'base.html' %}

{% load static %}
{% load chat_filter %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/messenger/style.css' %}">
{% endblock style %}
    
{% block main %}
<div class="chat_home">
    <div class="chat_home_header">
        <div></div>
        <div>
            <button id="btnO">Contacts</button>
            <div id="contacts" class="hidden">
                <div class="conHead">
                    <button class="fa fa-close" id="btnC"></button>
                </div>
                <ul class="all">
                    {% for contact in user.contacts.all %}
                    <li>
                        <a href="{% url 'messenger:chat' contact.id %}">
                            {{contact.get_name}}
                        </a>
                    <br>
                    <small>{{contact.resipient.id}}</small>
                    </li>
                    
                    {% endfor %}
                </ul>
                
                  <form action="{% url 'account:create_contact' %}" method="post">
                      {% csrf_token %}
                      <input type="text" name="id" placeholder="user ID">
                      <input type="text" name="name" placeholder="save as">
                      <button>save</button>
                  </form>  
            </div>
        </div>
    </div>
    <div class="chat_lists">
        <ul>
        {% for chat in chats.all %}
            <li>
                <a href="{% url 'messenger:chat' chat.friend.id %}">
                    <img src="{{chat.friend.resipient.get_avatar}}" class="chat_avatar" />
                    <div class="chat_name">
                        <span>{{chat.friend.get_name}}</span>
                        <small>{{chat.messages.last.text}} 
                            
                            
                            {% autoescape off %}
                                {% if chat.messages.last.sender != chat.friend.resipient %}
                        
                        {% not_seen chat.messages.last %}
                        {% endif %}
                            
                            {% endautoescape %}
                            
                                
                       
                        

                            
                        
                            </small>
                    </div>
                    
                </a>
            </li>
        {% endfor %}
        </ul>
        
            
    </div>
</div>
    
{% endblock main %}
    


{% block script %}
    <script>
        $('#btnO').on('click', ()=> $('#contacts').setDisplay('flex'))
        $('#btnC').on('click', ()=> $('#contacts').setDisplay('none'))
        
    </script>
{% endblock script %}
    