{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="theme-color" content="#007bff " />
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
		<link rel="stylesheet" href="{% static 'css/base/styles.css' %}" />
		<!-- <link
			rel="stylesheet"
			href="{% static 'bootstrap/css/bootstrap.min.css' %}"
		/> -->
		<title>{% block title %} App {% endblock title %}</title>
		{% block styles %} {% endblock styles %}
	</head>
	<body>
		<nav class="navbar">
			<div class="navbar-logo">
				<a href="/"><img src="{% static 'img/logo/logo.png' %}">
				</a>
			</div>
			<div class="navbar-search">
				<form method="get" action="{% url 'search:search_field' %}">
					<div>
						<input type="search" name="search_input">
						<button>
							<i class="fa fa-search"> search</i>
						</button>
					</div>
				</form>
			</div>
			<div class="navbar-collapse">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a href="{% url 'home:home' %}" class="nav-link text-light">
							<i class="fa fa-home"></i><span>Dashboard</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="/" class="nav-link text-light">
							<i class="fa fa-video-camera"></i><span>E-books</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="{% url 'messenger:message' %}" class="nav-link text-light">
							<i class="fa fa-comment"></i><span> messenger</span>

							{% if user.user_chat.unseen > 0 %} {{user.user_chat.unseen}} 
							{% endif %}
						</a>
					</li>
					<li class="nav-item">
						<a href="{% url 'friends:friends' %}">
							<i class="fa fa-users"></i>
							<span>friends</span>
						</a>
					</li>

					<!-- <li class="nav-item">
						<a href="{% url 'pages:home-pages' %}" class="nav-link text-light">
							<i class="fa fa-globe"></i>
							<span>Pages {{user.pages.count}}</span></a
						>
					</li> -->
					<!-- <li class="nav-item">
						<a
							href="{% url 'institution:institutions' %}"
							class="nav-link text-light"
						>
							<i class="fa fa-institution"></i> <span>institutions</span></a
						>
					</li> -->
					<!-- <li class="nav-item">
						<a
							href="{% url 'notifications:notification_page' %}"
							class="nav-link text-light"
						>
							<i class="fa fa-briefcase"></i> <span>Notifications</span></a
						>
					</li> -->
					<!-- <li class="nav-item">
						<a href="{% url 'group:groups' %}" class="nav-link text-light">
							<i class="fa fa-group"></i> <span>groups</span>
						</a>
					</li> -->
					<li class="nav-item">
						<a href="{% url 'account:account' %}" class="nav-link text-light">
							<i class="fa fa-user"></i> <span>Profile</span></a
						>
					</li>
					<li class="nav-item">
						<a href="{% url 'market:cart' %}" class="nav-link text-light">
							<i class="fa fa-shopping-cart"></i><span>cart</span>
						</a>
					</li>
					<!-- <li class="nav-item">
						<a
							href="{% url 'settings:user_settings' %}"
							class="nav-link text-light"
						>
							<i class="fa fa-gear"></i> <span>Settings</span></a
						>
					</li> -->
					<!-- <li class="nav-item">
						<a
							href="{% url 'account:logout' %}"
							class="nav-link text-light bg-danger w-auto"
						>
							<i class="fa fa-sign-out"></i><span> Log out</span></a
						>
					</li> -->
				</ul>
			</div>	
		</nav>
		<div class="modal_wrapper">
			<div class="modal_header">
				{% block modal_header %}
					<h2>Modal</h2>
				{% endblock modal_header %}
				<button id="modal-close"><i class="fa fa-close fa-2x"></i></button>
					
			</div>
			<div class="modal_body">
				{% block modal %}
			
				{% endblock modal %}
			</div>	
		</div>
		<div class="body">
			
			<div class="main">
				
				<div class="main_left">
					{% block left %}
					
					{% if user_notifications.count > 0 %}
						{% include 'tags/notification.html' %}
					
					{% endif %}
					{% if user_groups.count > 0 %}
						{% include 'tags/group.html' %}
					{% else %}
						<a href="{% url 'group:groups' %}">
							<button>Explore Groups</button>
						</a>
					{% endif %}
						
					
					{% endblock left %}
				</div>
				
					
				<div class="main_center">
					{% block main %} 
					
					{% endblock main %}
					<footer>
						footer
					</footer>
				</div>
				

				<div class="main_right">
					{% block right %}	
					
					{% if user_pages.count > 0 %}
						{% include 'tags/pages.html' %}
					{% endif %}
						
					{% endblock right %}	
				</div>
					
			</div>
			
		</div>
		{{ user.username|json_script:"username" }}
		<script src="{% static 'js/base/script.js' %}"></script>
		<script>
			const closeModal = id('modal-close')
			closeModal.addEventListener('click', function(){
				cl('modal_wrapper')[0].style.display = 'none'
			})
			const openModal = id('open-modal')
			openModal.addEventListener('click', function(){
            let modal = cl('modal_wrapper')[0]
            modal.style.display = 'flex'
        })
		</script>
		{% block script %} {% endblock script %}
	</body>
</html>
