{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta
			name="description"
			content="a website to connect with tutors and student, share,save ebooks online"
		/>
		<meta name="author" content="Jafar Idris" />
		<meta name="theme-color" content="#0064e5" />
		<meta http-equiv="X-UA-Compatible" content="IE=7" />
		<link
			rel="shortcut icon"
			href="{% static 'img/logo/logo.png' %}"
			type="image/x-icon"
		/>
		<title>Dream</title>
		<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" />
		<link rel="stylesheet" href="{% static 'css/base/styles.css' %}" />

		{% block style %} {% endblock style %}
	</head>
	<body>

		<div class="loading-wrapper">
			<div >
				<h2 class="loading-text">Loading... please wait</h2>
			</div>
		</div>

		<div class="modal-wrapper">
			<div class="modal-controls">
				<button class="modal-close">close</button>
			</div>
			<div class="modal">
				<div class="write">
					<h2 class="title">new write up...</h2>
					<textarea name="post-text" cols="30" rows="10" placeholder="your text goes here ... eg. hello world!"></textarea>
					<div class="settings">
						<button>add img</button>
					</div>
					<button id="save-post">save</button>
				</div>
			</div>
		</div>

		<nav>
			<div class="logo-wrapper">
				<h2 class="logo">Dream</h2>
			</div>
			<form class="search-wrapper">
				<input type="search" name="search" placeholder="Search friends, post, pages ...">
			</form>
			<div class="links-wrapper">
				<ul>
					<li><a href="/">Dashboard</a></li>
					<li><a href="{% url 'friends:index' %}">Friends</a></li>
					<li><a href="{% url 'messenger:index' %}">Messenger</a></li>

					<li><a href="{% url 'files:index' %}">Files</a></li>
					<li><a href="{% url 'settings:index' %}">Config</a></li>
					<!-- <li><a href="/">Wallet</a></li> -->
					<li><a href="{% url 'account:index' %}">Account</a></li>
					<li><button id="theme">change theme</button></li>
				</ul>
			</div>
			<div class="avatar-wrapper">
				<h2>{{ user.get_full_name }}</h2>
				<img src="{{user.avatar.url}}" alt="{{user.username}} pic" class="nav-avatar">
			</div>
		</nav>

		<div class="body">

			<div class="left">
				
				{% block left-nav %}
					<div class="apps">
						<div>
							<h3>in-built apps</h3>
							<small>just for you...</small>
						</div>
						
						<ul>
							<a href="">

								<li>
									<i class="fa fa-link"> url shortener</i> 
								</li>
							</a>
							<a href="{% url 'cipher:index' %}">
								
								<li>
									<i class="fa fa-lock"> Caesar Cipher</i> 
								</li>
							</a>
							<a href="">

								<li>
									<i class="fa fa-user-md"> portfolio</i> 
								</li>
							</a>
							<a href="">
								<li>
								<i class="fa fa-file-archive-o"> CV creator</i> 
							</li>
							</a>
							<a href="{% url 'pages:index' %}">
							<li>
								<i class="fa fa-pagelines"> page</i> 
							</li>
							</a>
							<a href="">
							<li>
								<i class="fa fa-shopping-cart"> E-sale</i> 
							</li>
							</a>
							
						</ul>
					</div>
				{% endblock left-nav %}
					
			</div>

			<div class="main">
	
				{% block main %} 
				
				<div class="welcome-wrapper">
					<div class="card">
						<h1>Dream... 🐱‍🏍🚀🚀🚀🚀</h1>
						<p>"My enemies have been so successful in portraying me as a poet and a visionary"</p>
						<q>Said Nikola Tesla</q>
					</div>

					<div class="card">
						<h1>Welcome... </h1>
						<p>collaborate, contribute in the global world 🌍  </p>
						<p>earn DrimCoin by sharing and collaborating with others</p>
					</div>

					<div class="card">
						<h1>Friends... </h1>
						<p>add atleast 5 friends to explore the beauty of dream</p>
						<p style="margin: 20px 0;">
							<a href="{% url 'friends:index' %}">search friends</a>
						</p>
						
					</div>

				</div>


				{% endblock main %}
			</div>


		</div>

		{{ user.username|json_script:"username" }}

		<script src="{% static 'js/dream.js' %}"></script>
		<script src="{% static 'js/base/script.js' %}"></script>
		{% block script %} {% endblock script %}
	</body>
</html>
